Backtracking/.idea/*
Backtracking/Backtracking.iml
Backtracking/out/*
branchAndBoundMethod/.idea/*
branchAndBoundMethod/branchAndBoundMethod.iml
branchAndBoundMethod/out/*
DynamicProgramming/.idea/*
DynamicProgramming/DynamicProgramming.iml
DynamicProgramming/out/*
GreedyAlgorithm/.idea/*
GreedyAlgorithm/GreedyAlgorithm.iml
GreedyAlgorithm/out/*
RecursiveAndDivideAndConquer/.idea/*
RecursiveAndDivideAndConquer/RecursiveAndDivideAndConquer.iml
RecursiveAndDivideAndConquer/out/*
NP/.idea/*
NP/NP.iml
NP/out/*