Backtracking/.idea/*
Backtracking/Backtracking.iml
Backtracking/out/*
branchAndBoundMethod/.idea/*
branchAndBoundMethod/branchAndBoundMethod.iml
branchAndBoundMethod/out/*
NP/.idea/*
NP/NP.iml
NP/out/*